<header class="header">
  <h1 class="header-title">
    <a class="header-link smooth-link" href="/">{{@blog.title}}</a>
  </h1>

  {{> header-links}}

  <div class="header-bio small">
    {{> header-bio}}
  </div>
</header>