<nav class="header-navigation">
  <a
    class="header-link smooth-link"
    href="http://github.com/dnordstrom">GitHub</a>
  <a
    class="header-link smooth-link"
    href="http://twitter.com/mrnordstrom">Twitter</a>
  <a
    class="header-link smooth-link"
    href="mailtor:moc.mortsdronrm@d">Email</a>
  <a
    class="header-link smooth-link"
    href="http://mrnordstrom.com/rss/">RSS</a>
</nav>
