{{!< default}}

<article class="page {{post_class}}">

  {{#post}}

    <h1 class="page-title">{{{title}}}</h1>

    <section class="page-content">
      {{content}}
    </section>

  {{/post}}

</article>
