@charset "UTF-8";

/**
 * Monoair Theme for Ghost
 *
 * Inspired by the Monospace theme for Tumblr.
 *
 * Links
 * -----
 * Scope for Tumblr     路 <http://wildemedia-scope.tumblr.com/>
 * Monospace for Tumblr 路 <http://monospace-theme.tumblr.com/>
 *
 * Transitions
 * -----------
 * In  路 all .15s ease 0s
 * Out 路 all .25s ease .25s
 */

/**
 * General
 */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Mono", Inconsolata, "Fira Mono", "Source Code Pro", monospace;
  font-size: 16px;
  font-size: 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  margin: 0;
  orphans: 4;
  widows: 4;
}



/**
 * Typographic Baseline
 */

p:not(:last-child),
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl {
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  padding: 0;
}

hr {
  margin: 72px 0 0;
  margin: 4.5rem 0 0;
  height: 72px;
  height: 4.5rem;
}

blockquote {
  font-size: 24px;
  font-size: 1.5rem;
}

blockquote,
pre,
dd {
  margin: 48px 0 72px;
  margin: 3rem 0 4.5rem;
}

small,
.small {
  font-size: 14px;
  font-size: .875rem;
  line-height: 24px;
  line-height: 1.5rem;
}



/**
 * Typographic Style
 */

a {
  text-decoration: none;
}

b,
b a,
strong,
strong a {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

blockquote {
  font-style: italic;
}

blockquote cite::before {
  content: ' \2014 ';
}

pre,
code,
kbd,
samp,
var {
  font-family: inherit;
}

:not(pre) > code,
kbd,
samp,
var {
  white-space: nowrap;
}



/**
 * Layout
 */

header,
main,
article,
footer {
  display: block;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.content {
  margin: 72px auto;
  margin: 72px auto;
  width: 100%;
  max-width: 50em;
}

.home-template .article-title {
  margin: 48px 0 0;
  margin: 3rem 0 0;
}



/**
 * Header
 */

.header {
  margin: 48px 0;
  margin: 3rem 0;
  text-align: center;
}

.header-title,
.header-link {
  display: inline;
}

.header-title {
  font-weight: 400;
}

.header-navigation {
  display: inline;
}

.header-link:not(:last-of-type):after,
.header-title .header-link:after {
  content: '/';
  display: inline-block;
  padding: 0 0.2em 0 0.8em;
}

.header-bio {
  margin: 1.5em auto;
  max-width: 46em;
  width: 90%;
}

.post-template .header-bio {
  display: none;
}



/**
 * Article
 */

.article {
  padding: 0 3em;
}

.article-meta {
  margin: 1.5625em 0px 2em;
}

.home-template .article-meta {
  margin: 0;
}



/**
 * Comments
 */

#article-comments {
  opacity: 0.25;
  padding: 6em 4em 0;
  text-align: center;
  transition: opacity 1.25s ease 7s;
}

#article-comments:hover {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}



/**
 * Pagination
 */

.pagination {
  margin: 8em 1em 0;
  text-align: center;
}

.page-number {
  margin: 0 1em;
}



/**
 * Smooth link
 *   A link with a transition
 */

.smooth-link,
.smooth-link a {
  transition: all .25s ease .25s;
}

.smooth-link:hover,
.smooth-link:hover a {
  transition: all .15s ease 0s;
}



/**
 * Twitter
 */

.twitter-tweet {
  margin: 4rem auto !important;
}
